# Risultati compilazione
*.out
*.sens

# File .run generato dallo script python
*.run

# Cache di python
__pycache__/

# PDF generato dalla compilazione
turni.pdf

# File .dat con l'input per il file .mod
data.dat
